<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{!-- <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div> --}}
</nav>

<div class="jumbotron text-center">
  <div class="overlay"></div>
  <div class="background-image"></div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>Echo JS Edition</p>
  </div>
</div>

<section class="container-fluid article-container">
    <div class="content-header text-center">
        <h1>Scraped Articles</h1>
    </div>
    <div class="container">
        <div class="content-body">
            {{#each articles}}
            <div class='card'>
              <div class='card-header'>
                <h3>
                  <a href="{{url}}" class='article-link' target='_blank' rel='noopener noreferrer'>
                    {{headline}}
                  </a>
                  <p class='btn btn-success article-comment' data-toggle="modal" data-target="#commentModal" data-id="{{_id}}">comments</p>
                  {{!-- <a class='btn btn-success comment'>Comments</a> --}}
                </h3>
              </div>
              <div class='card-body'>
                {{summary}}
              </div>
            </div>
            {{!-- <div class="article">
                <a href="{{url}}" target="_blank">
                    <h5 class="article-headline">{{headline}}</h2>
                </a>
                <p class="article-summary">{{summary}}</p>
                <p class="article-comments" data-toggle="modal" data-target="#commentModal" data-id="{{_id}}">
                  <span id="commentNum">{{comments}}</span> 
                  comments</p>
            </div> --}}
            {{/each}}
        </div>
    </div>
</section>


<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Comments:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <form>
                    <textarea id="form_message" name="message" placeholder="Message" rows="3"></textarea>
                    <input id="form_submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="container-fluid article-container">

  <div class="alert alert-warning text-center">
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h3>What Would You Like To Do?</h3>
    </div>
    <div class="card-body text-center">
      <h4>
        <a class="scrape-new">Try Scraping New Articles</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved Articles</a>
      </h4>
    </div>
  </div>
</div> --}}

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

